@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap');

* {
    font-family: Poppins, system-ui, sans-serif;
}

body {
    margin:0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}

/* HOMEPAGE */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(245, 245, 245);
}

.hero::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    background-image: url("https://images.unsplash.com/photo-1575833947895-6c6223316549");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;

}

.hero-content {
    position: relative;
    text-align: center;
    top: 35%;
    color: black;
  }

.title {
    font-size: 4rem;
    font-weight: 200;
    text-shadow: 1px 1px 1px beige;
    
}

.subtitle {
    font-size: 2rem;
}

#learn-link {
  text-decoration: none;
  background-color:black;
  border-radius: 6px;
  color: beige;
  padding: 6px;
  text-align:left;
  box-shadow: 3px 3px 3px gray;
  font-size: 1.2rem;
}

#learn-link:hover {
  background-color:rgb(90, 90, 90);
}


.motto-container {
    margin-bottom: 100px;
    text-align: center;
}

.motto-img {
    width: 70%;
}

#start-link {
    text-decoration: none;
    background-color:black;
    border-radius: 6px;
    color: beige;
    padding: 6px;
    text-align:left;
    box-shadow: 3px 3px 3px gray;
  }

  #start-link:hover {
    background-color:rgb(90, 90, 90);
  }

  #dash-link {
    text-decoration: none;
    background-color:black;
    border-radius: 6px;
    color: beige;
    padding: 6px;
    text-align:left;
    box-shadow: 3px 3px 3px gray;
  }

  #start-link:hover {
    background-color:rgb(90, 90, 90);
  }

.preview-section {
    width: 100vw;
    height: 850px;
    background-color: white;
    padding-bottom: 100px;
}

.ant-carousel .slick-dots li button {
  background: #141414;
  opacity: 0.4;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #141414;
}

/* 
.preview-container {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
} */

.carousel-css {
    height: 330px;
    color: #fff;
    line-height: 2.5;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.carousel-img {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color:black;
}

.link:hover {
    background-color:rgb(235, 235, 235);
    color: black;
}

/* LOGIN FORM */
.login-form {
  margin-top: 4rem;
}

/* SIGNUP FORM */
.signup-form {
  margin-top: 4rem;
}

/* DASHBOARD */
.dash-content {
  padding: 20px;
  margin-top: 60px;
}

.dash-hero {
  height:120px;
  padding-right: 2rem;
  background-image: url('https://images.unsplash.com/photo-1517664121940-f819957bb072');
  background-position: top left;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}