@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap');

* {
    font-family: Poppins, system-ui, sans-serif;
}

body {
    margin:0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}

.hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    
}

.hero::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    background-image: url("https://images.unsplash.com/photo-1575833947895-6c6223316549");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;

}

.hero-content {
    position: relative;
    text-align: center;
    top: 36%;
    color: black;
  }

  #learn-link {
    text-decoration: none;
    background-color:black;
    border-radius: 6px;
    color: beige;
    padding: 6px;
    text-align:left;
    box-shadow: 3px 3px 3px gray;
  }

  #learn-link:hover {
    background-color:rgb(90, 90, 90);
  }

.title {
    font-size: 4rem;
    font-weight: 200;
    text-shadow: 1px 1px 1px beige;
    
}

.subtitle {
    font-size: 2rem;
}

.motto-container {
    margin-bottom: 100px;
}

.motto-img {
    height: 100%;
    width: 75%;
}

#start-link {
    text-decoration: none;
    background-color:black;
    border-radius: 6px;
    color: beige;
    padding: 6px;
    text-align:left;
    box-shadow: 3px 3px 3px gray;
  }

  #start-link:hover {
    background-color:rgb(90, 90, 90);
  }

  #dash-link {
    text-decoration: none;
    background-color:black;
    border-radius: 6px;
    color: beige;
    padding: 6px;
    text-align:left;
    box-shadow: 3px 3px 3px gray;
  }

  #start-link:hover {
    background-color:rgb(90, 90, 90);
  }

.preview-section {
    width: 100vw;
    height: 80vh;
    background-color: white;
}
/* 
.preview-container {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
} */

.carousel-css {
    height: 330px;
    color: #fff;
    line-height: 2.5;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.carousel-img {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color:black;
}

.link:hover {
    background-color:rgb(235, 235, 235);
    color: black;
}

/* Login form */
  /* .login-form-button {
    width: 60%;
    background-color: #141414;
  } 

  .signup-form-button {
    width: 60%;
    background-color: #141414;
  }

.signup-form-button:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: black } */
