@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap');

* {
  font-family: Poppins, system-ui, sans-serif;
}

.menuBar {
  display: flex;
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
}

#logo {
  color: black;
  text-decoration: none;
  padding-left: 1rem;
}

.menu {
  display: flex;
  padding-top: 16px;
  width: 100% ;
}

 #signup-link {
  background-color: black;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(245, 245, 245);
}

/* @media (max-width: 640px) {
  .container {
    text-align: center;
  }

  .nav {
    flex-direction: column;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav li {
    margin: 0.8em 0;
  }
} */