@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap');

* {
  font-family: Poppins, system-ui, sans-serif;
}

 #signup-link {
  background-color: black;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(245, 245, 245);
}

/* @media (max-width: 640px) {
  .container {
    text-align: center;
  }

  .nav {
    flex-direction: column;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav li {
    margin: 0.8em 0;
  }
} */