/* UserInfo.jsx */
.personal-container {
    padding: 50px;
}

.summary {
    padding-left: 50px;
    padding-right: 50px;
}

.projects {
    padding: 50px;
}

.experience {
    padding: 50px;
}

.education {
    padding: 50px;
}

#resumePreview {
    padding: 50px;
}


.main-container {
    margin-bottom: 50px;
}